html, body {
  height: 100%;
}
body {
  padding: 50px 0 0 0;
  font: 16px/1.5 'PT Serif', Times, Cambria, serif;
  color: #4f4f4f;
}

.navbar {
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 0;
  }
  .navbar {
    display: none !important; /* IE8 fix */
  }
}

a, a:visited {
  color:#389dc1;
  text-decoration: none
}

a:hover{
  text-decoration:none;
}


/*----------------------------
	Headings
-----------------------------*/


h1, .content h1, h2 {
  font: 48px 'Open Sans Condensed', sans-serif;
}

h1 a, h2 a{
  color:#4f4f4f !important;
  text-decoration: none !important;
}

.navmenu, .navbar-default {
  background-color: #333;
  color: #787878;
}

.navmenu-default .navmenu-nav>li>a:hover, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover{
  color: #fff;
}

.page-header {
  border: 0px;
  margin-bottom: 0px;
}

.page-header h1 {
  margin-left: 40px;
}

.content h3, h3{
  font: 20px 'Open Sans Condensed', sans-serif;
}


/*----------------------------
	Content & Posts
-----------------------------*/


.content p img {
  width: 100%;
}

 

dt, dl {
	line-height: 1.5;
}

.dt {
  margin-bottom: 10px;
}

.content div.actions{
	margin-top:25px;
	font-size:14px;
	font-family:'Open Sans Condensed', sans-serif;
}

.content div.actions .readmore{
	text-decoration: none !important;
	padding:0 2px;
}

.content div.actions .readmore:hover{
	background-color:#389dc1;
	color:#fff;
}

.content div.actions .comments{
	color:#ccc;
	margin-left:10px;
	text-decoration:none;
}

.post{
	padding: 20px 0 15px 0;
	border-bottom: 1px solid #dfdfdf;
}

.post .date{
	font: bold 12px 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	color: #a7a7a7;
	margin: 24px 0 20px 20px;
	position: relative;
}


.post .sharep a {
  margin-left: 5px;
  width: 16px;
  height: 16px;
  display: block;
  float: right;
  background-image: url('/img/share-icons.png');
}
.post .sharep a.share-fb {
  background-position: -10px -10px;
}
.post .sharep a.share-twitter {
  background-position: -10px -46px;
}
.post .sharep a.share-reddit {
  background-position: -10px -82px;
}
.post .sharep a.share-linkedin {
  background-position: -10px -118px;
}


.post .date:before{
	width:18px;
	height:18px;
	position:absolute;
	content:'';
	left: -18px;
	top: -1px;
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2RpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDoyNjZDQjA1OTM1ODZFMjExQUUwM0IwQzQwMjlEOTczMyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpENjYzQjI4QjhCNDYxMUUyQjNENkFGQ0NCRUExRDM1NSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpENjYzQjI4QThCNDYxMUUyQjNENkFGQ0NCRUExRDM1NSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IFdpbmRvd3MiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4NjA1NUJCNzUzOEFFMjExQUUwM0IwQzQwMjlEOTczMyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyNjZDQjA1OTM1ODZFMjExQUUwM0IwQzQwMjlEOTczMyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PhTXJRoAAADXSURBVHjaYvz//z8DNQDL7t27sYmDTGfEoQdDztXVlYEJyg4B4rdA/AGLJhjGJgfS4wfiwAyaCcRCQMwGxMxQMTY0jdjkQHqmwQzihwqAACcQ50CdXoRmEC45aXAYYQmDCVDMQIocskGMZEbYB+QwQokBEAaCzch8dDF0wMRAJcC4a9cufqjzYF7bTKReX5jXgC4UYMHiNbACYEJ9AaQkkL2BLIaekIeA15AUbEZiM+ARo67XQAZ9BOJ3eFxGSOwFcspOBOLnoBgh0SEgQ+LAgU2tgg0gwACqTkAIjemp4gAAAABJRU5ErkJggg==')
}

.blogpost, #disqus_thread, .pagination-container {
  margin-left: 50px;
  margin-right: 10px;
}

/*
   Bootstrap styles
*/
code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

code {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

pre.prettyprint {
  margin-bottom: 20px;
}

pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

/*----------------------------
	The left bar
-----------------------------*/



p.description{
	line-height: 1.8;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
	margin-bottom: 20px;
	color:#787878;
}



/*----------------------------
	Pagination buttons
-----------------------------*/


.pagination-arrow{
 display: inline-block;
 font: bold 16px/1 'Open Sans Condensed', sans-serif;
 border: 1px solid #ccc;
 border-radius: 3px;
 margin: 20px 0px;
 color: #389dc1 !important;
 padding: 8px 12px;
 text-decoration: none !important;
 text-transform: uppercase;
 position: relative;
}

.pagination-arrow.newer{
 padding-left: 20px;
}

.pagination-arrow.older{
 padding-right: 20px;
 float:right;
}

.pagination-arrow.newer:before,
.pagination-arrow.older:before{
	content: '';
	border: 5px solid #555;
	border-color: transparent #555 transparent transparent;
	width: 0;
	height: 0;
	position: absolute;
	left: 3px;
	top: 12px;
}

.pagination-arrow.older:before{
	left:auto;
	right:3px;
	border-color: transparent transparent transparent #555;
}


/*----------------------------
	The 404 page
-----------------------------*/


.message{
	padding-top:50px;
}

.message h1{
	font-size:36px;
	margin-bottom: 18px;
}

.message p{
	font-size:13px;
}

.center{
	text-align:center;
}





/*-------------------------
	prettify.css
--------------------------*/
.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}

img.github {
  position: absolute; 
  top: 0; 
  right: 0; 
  border: 0;
  width: auto!important;
}
/*-------------------------
	endof prettify.css
--------------------------*/



@media all and (max-width: 768px) {
  .post, .pagination-container, #disqus_thread {
    margin-right: 10px;
    margin-left: 10px;
  }

  .navmenu {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.avatar {
  margin-top: 30px;
  margin-bottom: 20px;
}

p.description {
  padding: 5px;
}

.social-media a {
width: 48px;
display: inline-block;
height: 48px;
margin-right: 10px;
background-image: url('/img/icons.png');
}

.social-media a.github {
  background-position: -8px -7px;
}

.social-media a.twitter {
  background-position: -8px -134px;
}

.social-media a.google {
  background-position: -8px -200px;
}

.social-media a.rss {
  background-position: -8px -266px;
}

.navmenu .list-inline {
  margin-left: 10px;
  margin-top: 30px;
}

.navmenu .list-inline > li {
  padding: 0px;
}

dl a:hover {
  text-decoration: underline;
  color: #389dc1;
}

.label a {
  color: #fff;
}

.label a:hover {
  color: #fff;
  text-decoration: underline;
}