/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{

}

body {
	font:15px/1.3 Arial, sans-serif;
	color: #4f4f4f;
}

a, a:visited {
  color:#389dc1;
  text-decoration: none
}

a:hover{
  text-decoration:none;
}

section, footer, header, aside{
	display: block;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 5px;
  background: #333333;
  z-index: 1000;
}


/*----------------------------
	Headings
-----------------------------*/


h1{
  font: 14px 'Open Sans Condensed', sans-serif;
  text-transform:uppercase;
  margin-bottom: 24px;
}

h2{
  font: 48px 'Open Sans Condensed', sans-serif;
}

h1 a, h2 a{
  color:#4f4f4f !important;
  text-decoration: none !important;
}


/*----------------------------
	Content & Posts
-----------------------------*/


#content{
	position: absolute;
	font: 16px/1.5 'PT Serif', Times, Cambria, serif;
	width: 580px;
	left: 50%;
	margin-left: -100px;
}

#content p,
#content ul{
  margin-bottom:25px;
}

#content p img {
  width: 100%;
}

#content ul{
  padding-left:20px;
}

#content ul.allposts, #content ul.allposts li {
  list-style: none;
  padding-left: 0px;
}

#content ul.allposts {
  margin-top: 20px
}

#content ul.allposts li {
  font-size: 17px;
  margin-bottom: 0px;
}

#content ul.allposts li a {
  margin-left: 10px;
}
 

aside ul{
  margin-left: 0px;
}

#content li{
	margin-bottom:5px;
}

#content div.actions{
	margin-top:25px;
	font-size:14px;
	font-family:'Open Sans Condensed', sans-serif;
}

#content div.actions .readmore{
	text-decoration: none !important;
	padding:0 2px;
}

#content div.actions .readmore:hover{
	background-color:#389dc1;
	color:#fff;
}

#content div.actions .comments{
	color:#ccc;
	margin-left:10px;
	text-decoration:none;
}

.post{
	padding: 40px 0 15px 0;
	border-bottom: 1px solid #dfdfdf;
}

.post .date{
	font: bold 12px 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	color: #a7a7a7;
	margin: 24px 0 30px 20px;
	position: relative;
}

.post .date .dt {
	float: left;
}

.post .date .sharep {
	float: right;
}

.post .sharep a {
  margin-left: 5px;
  width: 16px;
  height: 16px;
  display: block;
  float: right;
}

.post .sharep a.share-fb {
  background-image: url("../img/share-icons.png");
  background-position: -10px -10px;
}
.post .sharep a.share-twitter {
  background-image: url("../img/share-icons.png");
  background-position: -10px -46px;
}
.post .sharep a.share-reddit {
  background-image: url("../img/share-icons.png");
  background-position: -10px -82px;
}
.post .sharep a.share-linkedin {
  background-image: url("../img/share-icons.png");
  background-position: -10px -118px;
}


.post .date:before{
	width:18px;
	height:18px;
	position:absolute;
	content:'';
	left: -22px;
	top: -1px;
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2RpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDoyNjZDQjA1OTM1ODZFMjExQUUwM0IwQzQwMjlEOTczMyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpENjYzQjI4QjhCNDYxMUUyQjNENkFGQ0NCRUExRDM1NSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpENjYzQjI4QThCNDYxMUUyQjNENkFGQ0NCRUExRDM1NSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IFdpbmRvd3MiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4NjA1NUJCNzUzOEFFMjExQUUwM0IwQzQwMjlEOTczMyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyNjZDQjA1OTM1ODZFMjExQUUwM0IwQzQwMjlEOTczMyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PhTXJRoAAADXSURBVHjaYvz//z8DNQDL7t27sYmDTGfEoQdDztXVlYEJyg4B4rdA/AGLJhjGJgfS4wfiwAyaCcRCQMwGxMxQMTY0jdjkQHqmwQzihwqAACcQ50CdXoRmEC45aXAYYQmDCVDMQIocskGMZEbYB+QwQokBEAaCzch8dDF0wMRAJcC4a9cufqjzYF7bTKReX5jXgC4UYMHiNbACYEJ9AaQkkL2BLIaekIeA15AUbEZiM+ARo67XQAZ9BOJ3eFxGSOwFcspOBOLnoBgh0SEgQ+LAgU2tgg0gwACqTkAIjemp4gAAAABJRU5ErkJggg==')
}

/*
   Bootstrap styles
*/
code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

code {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

pre.prettyprint {
  margin-bottom: 20px;
}

pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

/*----------------------------
	The left bar
-----------------------------*/


aside{
	position: fixed;
	width: 250px;
	height: auto;
	top: 0;
	left: 50%;
	bottom: 0;
	margin-left: -460px;
	padding-top: 45px;
}

aside p.description{
	font-size: 13px;
	line-height: 1.8;
	margin-bottom: 30px;
	color:#787878;
}

aside ul{
	font: bold 18px 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	list-style:none;
}

aside ul li a{
  text-decoration:none !important;
  display:inline-block;
  padding:0px;
  margin:2px 0 2px 0px;
}

aside ul li a:hover{
	background-color:#389dc1;
	color:#fff;
}

aside p.author{
	position: absolute;
	bottom: 20px;
	height: 50px;
	font-size: 12px;
	color: #888;
    text-align: center
}

aside p.author a { 
   width: 48px;
   display: block;
   float: left;   
   height: 48px;
   margin-right: 10px;
}

aside p.author a.facebook {
  background-image: url("../img/icons.png");
  background-position: -10px -10px;
}
aside p.author a.twitter {
  background-image: url("../img/icons.png");
  background-position: -10px -76px;
}
aside p.author a.google {
  background-image: url("../img/icons.png");
  background-position: -10px -142px;
}
aside p.author a.rss {
  background-image: url("../img/icons.png");
  background-position: -10px -208px;
}


aside .img-circle {
  -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
}


/*----------------------------
	Pagination buttons
-----------------------------*/


.pagination-arrow{
 display: inline-block;
 font: bold 16px/1 'Open Sans Condensed', sans-serif;
 border: 1px solid #ccc;
 border-radius: 3px;
 margin: 20px 15px;
 color: #555 !important;
 padding: 8px 12px;
 text-decoration: none !important;
 text-transform: uppercase;
 position: relative;
}

.pagination-arrow.newer{
 padding-left: 20px;
}

.pagination-arrow.older{
 padding-right: 20px;
 float:right;
}

.pagination-arrow.newer:before,
.pagination-arrow.older:before{
	content: '';
	border: 5px solid #555;
	border-color: transparent #555 transparent transparent;
	width: 0;
	height: 0;
	position: absolute;
	left: 3px;
	top: 12px;
}

.pagination-arrow.older:before{
	left:auto;
	right:3px;
	border-color: transparent transparent transparent #555;
}


/*----------------------------
	The 404 page
-----------------------------*/


.message{
	padding-top:50px;
}

.message h1{
	font-size:36px;
	margin-bottom: 18px;
}

.message p{
	font-size:13px;
}

.center{
	text-align:center;
}


/*----------------------------
	Media queries
-----------------------------*/


@media all and (max-width: 1024px) {
	aside{
		left: 5%;
		margin-left: 0;
		width: 25%;
	}
    
    header {
      left: 0%;
      right: 0%;
      top: 0px;
      position: absolute;
    }

	#content{
		left: 35%;
		margin-left: 0;
		width: 60%;
	}
}

@media all and (max-width: 840px) {
h2 {
  font-size:36px;
 }

aside{
margin-left: 0;
position: static;
width: 90%;
padding: 5% 5% 0 5%;
text-align: center;
}

aside .description{
margin-bottom: 25px;
}

aside li {
display: inline-block;
}

aside ul{
text-align: center;
}

aside .author{
display: none;
}

aside ul li a {
 margin-right:15px;
}

#content{
 position: static;
 padding: 5%;
 padding-top: 0;
 width: 90%;
}

#content a, #content a img {
 text-decoration:none !important;
 border:0px !important;
}



#content .pagination-arrow.newer{
 float:left; 
 margin-top: 20px!important;
}

#content .pagination-arrow.older{
 float:right;
 margin-top: 20px!important;
}
}
